<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">St. Andrews Records</h1>
                        <p class="intro-text"> a Web-based Public History project</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About <a href="http://www.standrews.ie/st-andrews--1916/">The Project</a></h2>
                <p> This is a collaborative community history project between students of Trinity College Dublin and St Andrews Resource Centre. The ongoing objective is to digitize the school records of St Andrews Parish schools from 1895, and to provide the Resource Centre with a valuable online record of the detailed registers at their disposal. We want to create open-source history of high quality with tangible results for the residents and diaspora of this city-centre school in Dublin. </p>
                <p>This is a collaborative community history project between students of Trinity College Dublin and St Andrews Resource Centre. The ongoing objective is to digitize the school records of St Andrews Parish schools from 1895, and to provide the Resource Centre with a valuable online record of the detailed registers at their disposal. We want to create open-source history of high quality with tangible results for the residents and diaspora of this city-centre school in Dublin.</p>
                <br>
                <h3> Phase One 'Pioneers' </h3>
                <table class="table table-responsive">
                  <tr>
                    <th> PHCH </th>
                    <th> Computer Science </th>
                    <th> Curators>
                  </tr>
                  <tr>
                    <td> Alice Bedford </td>
                    <td> James Eggers </td>
                    <td> Ciaran O'Neill </td>
                  </tr>
                  <tr>
                    <td> Sierra Bower </td>
                    <td> Ammar Qureshi </td>
                    <td> Jack Kavanagh </td>
                  </tr>
                  <tr>
                    <td> Ashley Curry </td>
                    <td> Ben Stratford </td>
                    <td> Ciaran Brady </td>
                  </tr>
                  <tr>
                    <td> Corin Deinhart </td>
                    <td> Brian De Buiteach </td>
                  </tr>
                  <tr>
                    <td> Saffron East </td>
                    <td> Erik Eviston </td>
                  </tr>
                  <tr>
                    <td> Nico Ferguson </td>
                    <td> Sam Hristrov </td>
                  </tr>
                  <tr>
                    <td> Delphine Cuilligan-Geoghegan </td>
                  </tr>
                  <tr>
                    <td> Marjorie Leonard </td>
                  </tr>
                  <tr>
                    <td> Erin May </td>
                  </tr>
                  <tr>
                    <td> Jennifer Mitcalf </td>
                  </tr>
                  <tr>
                    <td> Ludovica Neglie </td>
                  </tr>
                  <tr>
                    <td> Aoileann Ni Bhrion </td>
                  </tr>
                </table>
            </div>
        </div>
    </section>

    <!-- Search Section -->
    <section id="search" class="content-section text-center">
        <div class="row">

                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Search</h2>
                    <p>Search through the extensive database of school records for educational and research purposes.</p>
                    <a href="http://debuiteb.netsoc.ie/search2.php" class="btn btn-default btn-lg">Search Database</a>
                </div>

        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact/Support Us</h2>
                <p>Feel free to contact us with your feedback and queries. </p>
                <p>Want to support us? Fund us through our PayPal account</p>
                <p><a href="mailto:feedback@stAndrews.com">feedback@stAndrews.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>

                    <li>
                        <a href="https://plus.google.com/+" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>

                    <li>
                        <a href="https://paypal.com" class="btn btn-default btn-lg"><i class="fa fa-paypal fa-fw"></i> <span class="network-name">PayPal</span></a>
                    </li>





                </ul>
            </div>
        </div>
    </section>
